
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0px;
  min-width: 100%;
  min-height: 70%;
  opacity: 0.9;
}

body {
  display: flex;
  flex-direction: column;
  // z-index: 0;
}

.title {
  font-size: 80pt;
  display: flex;
  align-self: center;
  z-index: 2;
}

.background-tron {
  width: 400;
  opacity: 0.5;
}

.body {
background-image: "../assets/tron.png"
}