
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0px;
  min-width: auto;
  min-height: auto;
  opacity: 0.9;
}

body {
  display: flex;
  flex-direction: column;
  // z-index: 0;
}

.title {
  
  font-size: 90pt;
  display: flex;
  align-self: center;
  z-index: 2;
}

<<<<<<< HEAD
=======
.background-tron {
  width: 400;
  opacity: 0.5;
}

.body {
background-image: "../assets/tron.png"
}

@media (max-width: 1500px) {
  .title {
  
    font-size: 75pt;
    display: flex;
    align-self: center;
    z-index: 2;
  }
}

@media (max-width: 1300px) {
  .title {
    margin-top: 1.3em;
    font-size: 60pt;
    display: flex;
    align-self: center;
    z-index: 2;
  }
}

@media (max-width: 600px) {
  .title {
    margin-top: 1.6em;
    font-size: 45pt;
    display: flex;
    align-self: center;
    z-index: 2;
  }
}
>>>>>>> 41f4b9f8260875013bc0d3653974734e90135c60
