

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0px;
  min-width: 100%;
  min-height: 70%;
  opacity: 0.9;
  z-index: -1;
}

.content {
 
  z-index: 3;
  top:10em;
   background: rgba(54, 64, 66, 0.5);
  color: hsl(0, 5%, 96%);
  margin: 0em 2em 0em 2em;
  padding: 0em 3em 0em 3em;
  margin-top: 30px;
 
}
 

.keyboard {
  padding-top: 40px;
  font-size: 25pt;
}
.voice-control {
  padding-top: 40px;
  font-size: 25pt;
}

.face-detection {
  padding-top: 40px;
  font-size: 25pt;
}

.how-to {
  font-size: 40pt;
 text-align: center;
}



.details {
  font-size: 20pt;
  
}

.li {
  padding-top: 20px;
}

.body {
  font-family: 'Press Start 2P', cursive;
  
}

.welcome {
  font-size: 30pt;
}