// Define what ranges you want and what they're called:
$VIEWPORTS_CONFIG:
    up-to  480px it-is "tiny",
    up-to  768px it-is "small",
    up-to 1024px it-is "medium",
    beyond-that  it-is "large";

// Import the library:
@import "./viewport.scss";

@include viewports("tiny") {
  img.title {
    margin-top: 0.5em;
    width: 40%
  }
  h1.title {
    margin-top: 2em;
    font-size: 3em;
  }
  .btn {
    font-size: 60%;
  }
  div.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    z-index: 2;
    align-items: flex-start;
    align-content: center;
    margin-top: 0.5em;
    margin-right: 0px;
  }
  div#wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    video#camera {
      z-index: 100;
      position: absolute;
      margin-left: 0%;
    }
    canvas#overlay {
      z-index: 100;
      position: relative;
      top: 0;
      left: 0;
      
      margin-left: 0%;
    }
  }
  div#phaser-example {    
    display:flex;
    justify-content: center;    
    canvas { 
      border: 10px solid black;
      padding: 0.5rem;
      min-height: 3em;
      width: 60%;
      resize: both;
      background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
      border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
    }

  }
}


@include viewports(small) {
  img.title {
    margin-top: 0.5em;
    width: 60%
  }
  h1.title {
    margin-top: 2em;
    font-size: 3em;
  }
  button.btn {
    display: flexbox;
    font-size: 100%;
  }
  div.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    z-index: 2;
    align-items: flex-start;
    align-content: center;
    margin-top: 0.5em;
    margin-right: 0px;
  }
  div#wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    video#camera {
      z-index: 100;
      position: absolute;
      margin-left: 0%;
    }
    canvas#overlay {
      z-index: 100;
      position: relative;
      top: 0;
      left: 0;
      
      margin-left: 0%;
    }
  }
  div#phaser-example {    
    display:flex;
    justify-content: center;    
    canvas { 
      border: 10px solid black;
      padding: 0.5rem;
      min-height: 3em;
      width: 60%;
      resize: both;
      background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
      border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
    }

  }
}
@include viewports(medium) {
  img.title {
    margin-top: 0.5em;
    position: fixed;
    top: 0;
    
    width: 80%;
    height: 80%;
    z-index: 100;
  }
  h1.title {
    margin-top: 2em;
    font-size: 3em;
  }
  button.btn {
    font-size: 120%;
  }
  div.nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    z-index: 2;
    align-items: flex-start;
    align-content: center;
    margin-top: 0.5em;
    margin-right: 0px;
  }
  div#wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    video#camera {
      z-index: 100;
      position: absolute;
      margin-left: 0%;
    }
    canvas#overlay {
      z-index: 100;
      position: relative;
      top: 0;
      left: 0;
      
      margin-left: 0%;
    }
  }
  div#phaser-example {
    display:flex;
    justify-content: center;    
    canvas { 
      border: 10px solid black;
      padding: 0.5rem;
      min-height: 3em;
      width: 60%;
      resize: both;
      background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
      border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
    }

  }
}
@include viewports(large) {
  img.title {
    margin-left: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  h1.title {
    margin-top: 1em;
    font-size: 4em;
  }
  button.btn {
    display: flexbox;
    font-size: 150%;
  }
  div.nav {
    position: fixed;
    top: 18em;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    z-index: 2;
    align-items: flex-start;
    align-content: center;
    margin-top: 0.5em;
    margin-right: 0px;
  }
  div#wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    video#camera {
      z-index: 100;
      position: absolute;
      margin-left: 0%;
    }
    canvas#overlay {
      z-index: 100;
      position: relative;
      top: 0;
      left: 0;
      margin-left: 0%;
    }
  }
  div#phaser-example {    
    display:flex;
    justify-content: center;
    canvas { 
      border: 10px solid black;
      padding: 0.5rem;
      min-height: 3em;
      width: 60%;
      
      resize: both;
      background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
      border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
    }
    
    
  }
  
}

@font-face {
  font-family: 'Press Start 2P', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}

body {
  
  }
.frame {
  width: 450px;
  height: 450px;
  border-radius: 25px;
  background-color: rgba(70, 70, 70, 0.472);
  margin: auto;
  text-align: center;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/66172/neon-grid-hd-wallpapers-66172-5530351.png");
  background-size: cover;
  
  position: relative;
  top: 1rem; 
  z-index: 1000000;
}

img {
  height: 200px;
  width: 900px;
  text-align: center;
  margin: auto;
}
.play {
  text-align: center;
  margin: auto;
  z-index: 10;
  margin-top: 35px;
}
button.button {
  font-family: 'Press Start 2P', cursive;
	text-shadow: 1px 1px rgb(255, 255, 255), -1px -1px rgb(3, 1, 1);

	line-height: 3em;
	text-align: center;
	display: inline-block;
	padding-left: 30px;
  padding-right: 30px;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: rgb(131, 0, 0);
	margin: 10px;
	background-color: red;
	background-image: -o-linear-gradient(to left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(to left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(to left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(to left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
}
.button:hover,
.button:focus {
  box-shadow: 0 1em 1em -1em var(--hover);
  transform: translateY(-0.25em);
}


.btn-group {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px
}

